[user]
	name = kwmur
	email = alarm.clock.website@gmail.com
[push]
	default = matching
[color]
	ui = auto
[alias]
	s = status
	b = branch
	c = checkout
	cb = checkout -b
	p = pull
[core]
	excludesfile = ~/projects/gitignore/Global/Vim.gitignore
